@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

.title {
    font-family: "Playwrite HU", cursive;
}

.img-preview {
    width: 40px;
}

.dropdown-toggle{
    height: 40px;
    width: 400px !important;
}